<link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
<center><h2>Create a New User Account</h2></center>
<%= render 'form', user: @user %>
<center><p>Already have an account? <%= link_to('Log in', '/login') %></p></center>
