<%= form_for Rating.new, url: new_wine_path do |f| %>
<div class="form-group">
  <label>Wine Name</label><br>
  <%= f.select :wine_id, Wine.all, include_blank: true, :prompt => 'Select Wine Name' %>
</div>
<div class="form-group">
  <label>Rating</label><br>
  <%= f.number_field :star %>
</div>

  <%= f.submit "Add New Rating", class:'btn btn-primary' %>
<% end %>
