<br>
<h1>Top Rated Wines</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody class="topRated">

  </tbody>
</table>



<script>

$(".ratings.top_rated").ready(function() {


  function Rating (id, vintage, name) {

    this.id = id;
    this.vintage = vintage;
    this.name = name;
    //this.number_of_ratings = number_of_ratings;

  //  this.render()}
  }


  fetch(`http://localhost:3000/wines/top_rated.json`)
    .then(res => res.json())
    .then(ratings => {

      ratings.forEach(row => {

        //debugger

       let rating = new Rating(row.id, row.vintage, row.wine.name)

       console.log(rating)



       //console.log(rating)
      $('.topRated').prepend(render(rating));

    });



debugger

    })

    function render(rating) {

      var wineText = "";
      //wine = new Wine(this.id, data.name, data.vintage, data.ratings[0]["star"], data.users_wines[0]["purchase_date"])
      wineText = '<tr class="wineInfo">';
      wineText += '<th scope="row">' + rating.id + '</th>';
      wineText += '<td>' + rating.name+ '</td>';
      wineText += '<td>' + rating.vintage + '</td>';
      wineText += '</tr>';
       return wineText


      }
    function cleanDate(date) {
        return moment(date).format('ll');
    }

    function processRatings(ratings) {
      if(ratings.length > 0) {
                return ratings[0]["star"]
      }
      else {
        return "Not Rated."
      }
    }


})


  //id = $('.wineInfo').data('id');


    </script>
