<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<br>
<br>
<br>
<br>
<br>
<br>
<style>
  .searchbox {
  font-size: 23px;
  height: 60px;
  padding: 20px 20px;
  text-transform: capitalize; /* Capitalises first letter of each word only 'visually', value sent is as-typed */

  .btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

}
</style>
<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <%= form_tag("/results", method: "get", class: "card card-sm") do %>
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">

                                      <%= search_field_tag :search, params[:search], placeholder: "Enter a wine name...", class: "form-control form-control-lg form-control-borderless searchbox" %>
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                      <%= submit_tag("Search", class: 'btn btn-lg btn-success btn-xlarge') %>
                                    </div>
                                    <!--end of col-->
                                </div>
                            <% end %>
                        </div>
                        <!--end of col-->
                    </div>
