

<% if params[:search] %>
<h1>Search Results For: <%= params[:search] %></h1>
<% else %>
<br>
<h1>All Wines</h1>
<br>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody class="wineTable">



  </tbody>
</table>

<script>
  $(document).on('turbolinks:load', function () {
    //window.alert("hello")
  });

$(".wines.wine_library").ready(function() {

  class Wine{

    constructor(id, name, vintage, rating) {

    this.id = id;
    this.name = name;
    this.vintage = vintage;
    this.rating = rating;

  }

  render() {

    var wineText = "";
    //wine = new Wine(this.id, data.name, data.vintage, data.ratings[0]["star"], data.users_wines[0]["purchase_date"])
    wineText = '<tr class="wineInfo">';
    wineText += '<th scope="row">' + this.id + '</th>';
    wineText += '<td>' + this.name+ '</td>';
    wineText += '<td>' + this.vintage + '</td>';
    wineText += '<td>' + this.rating + '</td>';
    wineText += '</tr>';
     return wineText

  }
}

  //l//et id = document.querySelector('.wineInfo').dataset.id
  fetch(`http://localhost:3000/wines/library.json`)
    .then(res => res.json())
    .then(wines => {

      wines.forEach(row => {


       let wine_result = new Wine(row.id, row.name, row.vintage, getRating(row.ratings), "")

       console.log(wine_result)
      $('.wineTable').prepend(wine_result.render());

    });

    })




    function cleanDate(date) {
        return moment(date).format('ll');
    }

    function processRatings(ratings) {
      if(ratings.length > 0) {
                return ratings[0]["star"]
      }
      else {
        return "Not Rated."
      }
    }

    function getRating(array) {
      if(array.length > 0) {

        var total = 0;
        for(var i = 0; i < array.length; i++) {
            total += array[i]["star"];
        }

        var avg = total / array.length;
        return avg;
      } else {
        return "No Rating.";
      }


    }


})

    </script>
